<section class="breadcrumb_area">
  <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
  <div class="container">
    <div class="page-cover text-center">
      <h2 style="color: white" class="page-cover-tittle">Về chúng tôi</h2>
      <ol class="breadcrumb">
        <li><a style="color: white" routerLink="/user">Trang chủ</a></li>
        <li class="active">Về chúng tôi</li>
      </ol>
    </div>
  </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d_flex align-items-center">
        <div class="about_content ">
          <p>Chào mừng bạn đến với hệ thống DA-WBH(từ đây được gọi bằng "Trang Web", “Website”). Mục đích chính và duy nhất của website này là cung cấp sàn giao dịch thương mại điện tử trực tuyến nhằm cung cấp thông tin của các Homestay cho dịch vụ cho thuê lưu trú du lịch ngắn hạn cho những người đang tìm kiếm để thuê những nơi như vậy (gọi chung là "Dịch vụ"). Các cụm từ "chúng tôi", "của chúng tôi," và "DA-WBH" được sử dụng dưới đây sẽ được sử dụng đại diện cho hệ thống đặt lịch Homestay, trong khi thuật ngữ "bạn" đề cập đến những khách hàng đang truy cập, đã truy cập và sử dụng thông tin từ Website.
            Các tổ chức, hay cá nhân đã, đang và sẽ tham gia giao dịch trên sàn giao dịch thương mại điện tử DA-WBH, sẽ sẵn sàng tham gia giao dịch với một thái độ tôn trọng quyền và lợi ích của nhau, một cách hợp pháp nhờ có các hợp đồng và không trái với các quy định của pháp luật.
            Chúng tôi cung cấp thông tin trong các bài đăng trên Website với mục đích hỗ trợ kết nối thực hiện mong muốn thuê chỗ ở của Khách Hàng và Chủ Nhà.
            Các thông tin đã được đăng trên DA-WBH cần phải được tuân thủ theo tất cả các luật áp dụng (nếu có), không đăng những thông tin hoặc sản phẩm bị cấm bởi pháp luật.
            Chúng tôi cũng hoạt động như một kênh giao tiếp giữa Chủ Nhà và Khách hàng để có thể giải quyết bất kỳ tranh chấp nào giữa hai bên.
            Việc sử dụng Website và dịch vụ trên đó cần phải được thực hiện một cách công khai và minh bạch để đảm bảo quyền lợi và sự an toàn của các bên.
            Các bên chịu trách nhiệm cho tất cả các chi phí liên quan với việc sử dụng Website hoặc Dịch vụ (nếu có).
          </p>
          <a style="color: white"  class="button_hover theme_btn_two" nbPopoverTrigger="hint" [nbPopover]="card">Các thành viên</a>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../../assets/user/image/about_bg.jpg" alt="img">
      </div>
    </div>
  </div>
</section>
<!--================ About History Area  =================-->

<!--================ Facilities Area  =================-->

<!--================ Facilities Area  =================-->

<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
  <div class="container">
    <div class="section_title text-center">
      <h2 class="title_color">Quy định và chính sách</h2>
    </div>
    <div class="testimonial_slider owl-carousel">
      <div class="media testimonial_item">
        <div class="media-body">
          <h6>Tải xuống <a href="/assets/Chính%20sách.pdf">chính sách</a>.</h6>
          <img src="/assets/chinhsach.jpg" style="width: 100% ; height: 100%">
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #card>
  <nb-card class="popover-card">
    <nb-card-body>
      <a style=" font-weight: bold; padding-right: 5px">Hoàng Cao Tiến - PH09359</a><br>
      <a style=" font-weight: bold; padding-right: 5px">Đinh Tuấn Tú - PH09325</a><br>
      <a style=" font-weight: bold; padding-right: 5px">Lý Văn Hiếu - PH09406</a><br>
      <a style=" font-weight: bold; padding-right: 5px">Lưu Quang Huy - PH07203</a>
    </nb-card-body>
  </nb-card>
</ng-template>
