.example-card {
  max-width: 800px;
  background-color: rgb(195, 240, 225);
  margin-top: 2%;
}

.example-card-2 {
  margin-top: 5%;
}

.example-header-image {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c3245ae9f8770886814d95f/1549880947094-FE46EU6CZOXP75DTJMZS/ke17ZwdGBToddI8pDm48kCSnA9UwmC22bnse4x2xUVFZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVERMpei1cY_a-RazRAJGLqd29wbkIfeMAhckb_qoiLi8KEcAfnVBrEqrgp1UxUHGkY/Housing+Logo.png');
  background-size: cover;
}
