<h4 mat-dialog-title>SỬA NHÀ</h4>
  <form (ngSubmit)="updateHouse()" [formGroup]="houseForm">
    <mat-accordion>
      <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Thông tin nhà
          </mat-panel-title>
          <mat-panel-description>
            Thông tin cơ bản
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="full-name-inputs">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Tên nhà</mat-label>
              <input matInput placeholder="Vui lòng nhập tên nhà" [formControlName]="'houseName'" required>
              <mat-icon
                [ngClass]="{'red-icon': !houseForm.get('houseName').valid && houseForm.get('houseName').touched}"
                matSuffix>home
              </mat-icon>
              <mat-hint *ngIf="houseForm.get('houseName').hasError('required') && houseForm.get('houseName').touched"
                        style="color: rgb(211, 102, 102);">Bạn không được để trống tên nhà
              </mat-hint>
              <mat-hint *ngIf="houseForm.get('houseName').hasError('maxlength') && houseForm.get('houseName').touched"
                        style="color: rgb(211, 102, 102);">Tên nhà không quá 50 ký tự
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Giá nhà</mat-label>
              <input min="0" matInput type="number" placeholder="Vui lòng nhập giá (VNĐ)" [formControlName]="'price'" required>
              <mat-icon [ngClass]="{'red-icon': !houseForm.get('price').valid && houseForm.get('price').touched}"
                        matSuffix>
                price_change
              </mat-icon>
              <mat-hint *ngIf="houseForm.get('price').hasError('required') && houseForm.get('price').touched"
                        style="color: rgb(211, 102, 102);">Giá nhà phải lớn hơn hoặc bằng 0
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Số lượng phòng ngủ</mat-label>
              <input min="0" matInput type="number" placeholder="Vui lòng nhập số phòng" [formControlName]="'amountRoom'"
                     required>
              <mat-icon
                [ngClass]="{'red-icon': !houseForm.get('amountRoom').valid && houseForm.get('amountRoom').touched}"
                matSuffix>
                meeting_room
              </mat-icon>
              <mat-hint *ngIf="houseForm.get('amountRoom').hasError('required') && houseForm.get('amountRoom').touched"
                        style="color: rgb(211, 102, 102);">Số lượng phòng phải lớn hơn hoặc bằng 0
              </mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div class="full-name-inputs">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Kích thước</mat-label>
              <input min="0" matInput type="number" placeholder="Kích thước nhà (m²)" [formControlName]="'size'" required>
              <mat-icon [ngClass]="{'red-icon': !houseForm.get('size').valid && houseForm.get('size').touched}"
                        matSuffix>
                people
              </mat-icon>
              <mat-hint *ngIf="houseForm.get('size').hasError('required') && houseForm.get('size').touched"
                        style="color: rgb(211, 102, 102);">Kích thước phải lớn hơn hoặc bằng 0
              </mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Số người tối đa</mat-label>
              <input min="0" matInput type="number" placeholder="Vui lòng nhập số người" [formControlName]="'capacity'"
                     required>
              <mat-icon [ngClass]="{'red-icon': !houseForm.get('capacity').valid && houseForm.get('capacity').touched}"
                        matSuffix>
                people
              </mat-icon>
              <mat-hint *ngIf="houseForm.get('capacity').hasError('required') && houseForm.get('capacity').touched"
                        style="color: rgb(211, 102, 102);">Số người tối đa phải lớn hơn hoặc bằng 0
              </mat-hint>
            </mat-form-field>
          </p>
        </div>
        <div style="font-size: 16px; padding-bottom: 5px; ">Mô tả:</div>
        <ckeditor [config]="{ extraPlugins: 'divarea', height: '100' }" [formControlName]="'description'"></ckeditor>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Thông tin đi kèm
          </mat-panel-title>
          <mat-panel-description>
            Thông tin tiện ích, cảnh quan
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListView>
              <mat-chip color="primary" selected *ngFor="let detailView of detailViews;" [selectable]="selectable"
                        [removable]="removable"
                        (removed)="removeView(detailView.id)">
                {{detailView.viewName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Cảnh quan mới..." #InputView [formControl]="inputViewName" [matAutocomplete]="auto1"
                     [matChipInputFor]="chipListView" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur">
            </mat-chip-list>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedView($event)">
              <mat-option *ngFor="let view of filteredViews | async" [value]="view.id">
                <img class="example-option-img" aria-hidden [src]="view.image" height="25">
                {{view.viewName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipListUtility>
              <mat-chip color="primary" selected *ngFor="let detailUtility of detailUtilitys;"
                        [selectable]="selectable">
                {{detailUtility.utilityName}} x {{detailUtility.quantity}}
                <mat-icon matChipRemove (click)="editDetailUtility(detailUtility.id)">edit</mat-icon>
                <mat-icon matChipRemove (click)="removeUtility(detailUtility.id)">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Tiện ích mới..." #InputUtility [formControl]="inputUtilityName"
                     [matAutocomplete]="auto2"
                     [matChipInputFor]="chipListUtility" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur">
            </mat-chip-list>
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedUtility($event)">
              <mat-option *ngFor="let utility of filteredUtilitys | async" [value]="utility.id">
                <img class="example-option-img" aria-hidden [src]="utility.image" height="25">
                {{utility.utilityName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hình ảnh
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Sửa ảnh mô tả (Nhấp vào ảnh để xóa)' : 'Ảnh mô tả'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="full-name-inputs" style="padding-left: 10px ">
          <p>
            <ngx-uploader type="Kéo thả ảnh mới" height="205px" width="205px" hiddenImage="true" hiddenForm="false"
                          (linkFile)="getImage($event)"></ngx-uploader>
          </p>
          <div  style="width: 424px; height: 250px; text-align:center;margin:0; padding-top:10px;">
            <ng-image-slider *ngIf="image?.length !== 0" [images]="image" [imageSize]="{width: '418', height: '205'}"  [imagePopup]="false"  (imageClick)="deleteImage($event)"  #nav></ng-image-slider>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-dialog-actions align="end">
      <button mat-flat-button mat-dialog-close>Thoát</button>
      <button [disabled]="(!houseForm.valid)" mat-flat-button color="primary">Sửa</button>
    </mat-dialog-actions>
  </form>
